<div class="setting">
    <div class="label"><label for="praized_api_key"><MT_TRANS phrase="Api key:"></label></div>
    <div class="field">
    	<p><input type="text" name="praized_api_key" id="praized_api_key" value="<TMPL_VAR NAME=PRAIZED_API_KEY ESCAPE=HTML>" /></p>
		<p><MT_TRANS phrase="(required)"></p>
    </div>
		

    <div class="label"><label for="api_key"><MT_TRANS phrase="Community slug:"></label></div>
    <div class="field">
    	<p><input type="text" name="praized_community_slug" id="praized_community_slug" value="<TMPL_VAR NAME=PRAIZED_COMMUNITY_SLUG ESCAPE=HTML>" /></p>
		<p><MT_TRANS phrase="(required)"></p>
    </div>
</div>